<h2>Edit Crypto</h2>

<%= form_with model: UserCrypto.new(@crypto_from_session) do |form| %>
  <%= form.text_field :amount %>
  <%= form.select :type, UserCrypto::SYMBOLS %>
  <%= form.submit %>
<% end %>
<br/>

<%= link_to 'Back to my crypto', root_path %>