<h2>Add New Crypto</h2>
<%= form_with url: user_cryptos_path do |form| %>
  <%= form.text_field :amount, placeholder: 'Amount' %>
  <%= form.select     :type, UserCrypto::SYMBOLS %>
  <%= form.submit %>
<% end %>
<br/>

<%= link_to 'Back to my crypto', root_path %>